.navbar-brand {
    float: left;
    width: 250px;
}

.navbar-brand > img {
    display: block;
    float: left;
    margin-right: 10px;
}


.navbar-brand h4 {
    color: #fff;
    float: left;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 8px;
    padding-top: 0;
    width: 100px;
}

.navbar-header {
    min-height: 85px;
}


.navbar-nav > li > a {
    padding-top: 34px;
    color: #fff!important;
    font-weight: bold;
}


.nav.fa.fa-user {
    margin: 5px;
}


.navbar {
    margin-bottom: 0px;
}

.icon-background1{
	color:#FFFFFF;
}


.create-account-pnl{
	background-color:#E5E5E4;

}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.create-account-pnl {
    padding: 35px 35px 2px;
}


.create-account-pnl > h4 {
    font-weight: bolder;
    margin-top: 30px;
    text-align: center;
}


.create-patient-pnl.row ,.create-doctor-pnl.row{
    border: 1px solid #fff;
    margin-bottom: 30px;
    height: 45px;
   
}


.create-patient-pnl.row > button,.create-doctor-pnl.row > button  {
    background-color: #e80000;
    border: 0 none;
    color: #fff;
    float: right;
     margin: 12px 7px 7px;
}


.create-patient-pnl .default-btn , .create-doctor-pnl .default-btn{
    float: right;
    left: 129px;
    margin: 4px;
 }

.fa-stack.fa-lg {
    margin-left: -10px;
    margin-top: 0px;
}


.lbl.doctor ,.lbl.patient {
    position: relative;
    top: -8px;
}

.search-tabs-left li > a{
	background-color: #6F6F72;
	color: #fff;
	display: block;
}

.search-tabs-left li > a{
	color: #fff;
}

.search-tabs-left li > a:hover,.search-tabs-left li.active > a:hover{
	background: #D90000;
	color: #fff;
}

.search-tabs-left li.active > a{
	background: #D90000!important;
	color: #fff!important;
	display: block;
}

.nav.nav-tabs.tabs-left.search-tabs-left > li {
    width: 94px;
    height: 50px;
}

.nav.nav-tabs.tabs-left.search-tabs-left > li > a {
    display: block;
    height: 100%;
}

.tab-pane  {
    margin: 18px 18px 0;
}


.tab-pane .form-control{
	border-radius: 0;
	border: 1px #D90000 solid;
}

.search-panel .tab-pane button, .tab-pane button:hover{
	background-color: #D90000;
	border-radius: 0;
	color: #fff;
}

.btn-holder{
	width: 100%;
	text-align: center;
}

.nav.nav-tabs.tabs-left.search-tabs-left {
    margin-top: 16px;
}

.slider-search-pnl{
	border-bottom: 15px solid #000;
}

.bx-wrapper{
	border: 0;
	margin: 0!important;
}

.tab-pane .doctor{
	margin-bottom: 0;
	padding-bottom: 0;
}

.slider-pnl{
	border-right: 15px solid #6F6F72;
}

.search-panel {
    margin-left: -15px;
}

.nav.nav-tabs.tabs-left.search-tabs-left > li > a {
	border-radius: 0;

}

.nav.nav-tabs.tabs-left.search-tabs-left > li:first-child > a {
	border-radius: 0 10px 0 0;

}

.bx-wrapper{
	height: 100%;
}

.col-md-9.slider-pnl.nopadding {
    height: 431px;
}

.bx-viewport ,.bxslider ,.bxslider > li {
    height: 100%!important;
}


.download-pnl{
	text-align: center;
	color: #D80100;
}

.download-pnl h4{
	text-align: center;
	
	font-size: 34px;
	font-weight: bolder;
}

.download-btns{
	width: 400px;
	margin: auto;
}

.download-pnl > p {
    font-size: 20px;
    font-weight: bolder;
}


.top-footer {
    background-color: #e5e5e4;
    height: 100px;
    margin-top: 30px;
}

.top-footer h4{
	text-align: center;
	color: #000;
	font-size: 34px;
	font-weight: bolder;
}

.practice-list-pnl{
	text-align: center;
	width: 100%;
	margin: auto;
}

.default-btn, .default-btn:hover{
	 background-color: #d80100;
    color: #fff;
    padding: 7px;
    text-decoration: none;
	cursor:pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f99486+0,d80100+15,d63b3b+94 */
	background: rgb(249,148,134); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,148,134,1) 0%, rgba(216,1,0,1) 15%, rgba(214,59,59,1) 94%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(249,148,134,1) 0%,rgba(216,1,0,1) 15%,rgba(214,59,59,1) 94%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(249,148,134,1) 0%,rgba(216,1,0,1) 15%,rgba(214,59,59,1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99486', endColorstr='#d63b3b',GradientType=0 ); /* IE6-9 */

}


.footer-links > a{
	background-color: #d80100!important;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.footer-distributed span{
	color:  #ffffff;
	margin: 0;
}
.footer-distributed h3{
 margin-bottom: 4px;
}
.company-details{
	margin-left: 10px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 24px!important;
}


.search-pnl{
	margin: 10px;
}

.search-items-pnl{
	background-color: #fff;
    height: 200px;
    padding: 5px;
    margin-bottom: 18px;
}

.photo-container{
	height: 190px;
	width: 175px;
}

.search.panel-body{
	background-color: #E5E5E4;
}


.col-md-4.pull-right.profile-rate-sched-pnl {
    height: 100%;
    padding: 5px;
}

.col-md-4.pull-right.profile-rate-sched-pnl > p {
    margin-top: 10px;
}


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


.home-tabs .nav.nav-tabs {
    margin: auto;
    text-align: center !important;
    width: 420px;
}

.home-tabs {
    margin-top: 50px;
}



.search.panel-body {
    margin-bottom: 20px;
}


/**searchbar*/

.navbar-form input, .form-inline input {
	width:auto;
}

/* end */

/* custom theme */
.search-menu {
	left: -187px;
	top: 85px;
}

.search-menu button{
    background: #d80100 none repeat scroll 0 0;
    color: #fff;
}

.accordion-group {
	border-width:0;
}

.search-menu select {
    margin-right: 10px;
}

.search-menu {
	min-width: 286px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

.panel {
	padding-left:27px;
    padding-right:27px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #D80100;
}


.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
}


.account-menu {
	left: -198px;
	top: 85px;
}


.notification-menu{
    left: -257px;
	top: 85px;
}


.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:#D80100;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }


.dropdown.notification {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  }


.gmap-clinic-pnl{
    background-color: #ECECFB;
}


.gmap-container{
    height: 260px;
    width: 100%;
    margin: 10px;
}

h4.header-title{
    font-size: 24px;
    font-weight: bolder;
    text-transform: capitalize;
}

h2.header-title{
    font-size: 16px;
    font-weight: bolder;
    text-transform: capitalize;
}

h4.name-title{
    font-size: 24px;
    font-weight: bolder;   
    text-transform: capitalize; 
}

/***fr start**/

.Fr-star {
  width: 225px;
  height: 40px;
  position: relative;
  background-color: #ccc;
}
.Fr-star[data-title]:hover:after {
  content: attr(data-title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.Fr-star .Fr-star-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/images/Fr-star.svg) repeat;
  background-size: contain;
}
.Fr-star .Fr-star-value{
  height: 100%;
  position: absolute;
  background-color: #ffbe10;
}
.Fr-star.size-2{
  width: 170px;
  height: 30px;
}
.Fr-star.size-3{
  width: 115px;
  height: 20px;
}
.Fr-star.size-4{
  width: 55px;
  height: 10px;
}

.content-header{
    font-size: 28px;
    color: #000;
    font-weight: bold;
}

.background-red{
    background:#D80100;
}

.sidebar{
    min-height: 250px;
}


.sidebar ul>li{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px bold #000;
    padding: 10px;
}
/***end fr star ****/

/**start collapsible menu**/

/* Toggle Styles */
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 272px;
    margin-left: -250px;
    overflow-y: auto;
    background: #D80100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 34px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}

#navbar-collapse-toggle-icon .nav.navbar-nav {
    margin-top: 12px;
}

#navbar-collapse-toggle-icon{
    width: 20px;
}

.glyphicon.glyphicon-th-large {
    font-size: 28px;
}

#menu > li {
    border-bottom: 1px solid #fff;
}

/***** end collapsible menu****/

.loadmore-container{
    text-align: center;
}

.btn-submit-primary{
   margin: auto;
   width: 30%;
}

.entry:not(:first-of-type){
    margin-top: 10px;
}

.btn-side{
    font-size: 14px!important;
}

.color-red{
    color:#ff0000;
}

.hand-pointer{
    cursor: pointer;
}

#ui-id-10 h4 {
    background: rgb(237, 237, 237) none repeat scroll 0 0;
    padding: 10px;
}

.tab-pane.about{
    margin-top :-29px!important;
}

/****Doctor-consultation**/

.top {
  text-align: center;
}

.shadow {
  padding-top: 0;
}

h2, a{
  color: #636b6f;
}

.navbar{
    border-radius: 0!important;
}

.background-white{
    background: #fff;
}

.post-area{
    padding: 10px 0;
}

.margin-left-10{
    margin-left : 10px;
}

.margin-right-10{
    margin-right : 10px;
}

.margin-top-10{
    margin-top : 10px;
}

.margin-bottom-10{
    margin-bottom : 10px;
}


.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }

#sidebar-wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
}

.section{
    background: #F5F5F5;
    text-align: center;

}

.clr{
    clear: both;
}

.hide{
    display:none;
}

.breadcrum .separator {
    margin: 10px;
}

.breadcrum {
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.post-detail {
    border-bottom: 1px solid gray;
    padding-top: 10px;
}

.span1 {
    width: 60px;
}

.post-option{
    min-width: 5px!important;
    
    
}

.post-option-menu {
    min-width: 10px;
    padding: 8px;
    width: 80px;
}

.post-option .caret{
    color:gray;
} 

.post-option-btn{
    background: #FFFFFF;
}

.post-option-menu{
    top: 67%!important;
    left: -53px!important;
}

span.date{
    color: #999;
    padding: 0 3px 2px;
    text-decoration: none;
    font-size: 10px;
}

.post-userphoto {
    width: 98px;
}

.loadmore-container {
    margin: 10px;
}

.consultations-pnl{
    border: 1px solid #d3e0e9;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 22px;
}

.consultation-detail{
    border: 1px solid #d3e0e9;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 5px;
    paddingnv: 5px;
}

.consultation-active{
    background: #EDEDED;
}

#more-details{
    display:none;
}

.consultations-pnl {
    height: 530px;
    overflow-y:scroll;
}

.search-field{
    margin: 5px;
}

.noty_theme__mint.noty_type__success {
    background-color: #2579A9!important;
}

.white{
    color: #ffffff!important;
}

.button__badge {
    background-color: #20895e;
    border-radius: 25px;
    color: white;
    font-size: 10px;
    padding: 1px 6px;
    position: absolute;
    right: 8px;
    top: 16px;
}

.padding-lr-0{
    padding-left: 0!important;
    padding-right: 0!important;
}

.paddint-top-0{
    padding-top:0!important;
}

[v-cloak] {
  display:none;
}

.consultation-heading{
    margin-top: 10px;
    /*background: #F1FCEE!important;*/
}

.new-consultation{
    background: #F1FCEE!important;
    border: 2px solid green!important;
}

/*
<div><h5></h5></div>
*/


.alert {
    padding: 30px 35px;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert, .alert h4 {
    color: #c09853;
}
.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}